/*  Style contained in this file is meant to be applied anywhere on the site.
    It's the opposite of the css rules in src/style which directly map to a
    specific component.
*/

.center-text {
    text-align: center;
}

.center-block {
    margin: 0 auto;
}

section {
    padding: 1rem 0;
}

.margin-bottom-1-5rem {
    margin-bottom: 1.5rem;
}

.padding-1rem {
    padding: 1rem;
}


/* Layout utils using flexbox */

.flex {
    display: flex;
}

.flex-two-panels {
    flex: 0 0 50%;  /* don't grow, don't shrink, 50% width (of parent) */
}


/* Helper for dev */
.debug {
    border: 1px solid red;
}