/*  Style contained in this file is meant to be applied anywhere on the site.
    It's the opposite of the css rules in src/style which directly map to a
    specific component.
*/

.center-text {
    text-align: center;
}

.center-block {
    margin: 0 auto;
}

section {
    padding: 1rem 0;
}

.padding-1-rem {
    padding: 1rem;
}

.padding-bottom-1-rem {
    padding-bottom: 1rem;
}

.margin-bottom-1-rem {
    margin-bottom: 1rem;
}

.margin-bottom-1-5-rem {
    margin-bottom: 1.5rem;
}

.margin-top-2-rem {
    margin-top: 2rem;
}

.margin-top-3-rem {
    margin-top: 3rem;
}

.margin-right-05-rem {
    margin-right: .5rem;
}

.margin-left-05-rem {
    margin-left: .5rem;
}


/* Layout utils using flexbox */

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-two-panels {
    flex: 0 0 50%;  /* don't grow, don't shrink, 50% width (of parent) */
}

.flex-one-third {
    flex: 0 0 33%;  /* don't grow, don't shrink, 33% width (of the parent) */
}

.flex-two-third {
    flex: 0 0 66%;  /* don't grow, don't shrink, 66% width (of the parent) */
}


/*  Cards edited state

    The colors come from the blueprint projet, see:
    https://blueprintjs.com/docs/#core/colors.core-colors
*/
.neutral-card {
    border: 2px solid #5C7080;
}

.active-card {
    border: 2px solid #137CBD;
}

.success-card {
    border: 2px solid #0F9960;
}


/* Helper for dev */
.debug {
    border: 1px solid red;
}