.TypeChoice__choice {
  height: 28rem;
  width: 17rem;
  padding: 2rem;
  margin: 2rem;
}

.TypeChoice__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Otherwise, the card's items stackup at the top */
  height: 100%;
}

.TypeChoice__logoWrapper {
  height: 260px;
  width: 206px;
}

.TypeChoice__logo {
  display: block;
  max-width: 206px;
  max-height: 260px;
  width: auto;
  height: auto;
}
