.TypeChoice__choice {
  height: 28rem;
  width: 17rem;
  padding: 2rem;
  margin: 2rem;

  border: 1px solid black;
}

.TypeChoice__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Otherwise, the card's items stackup at the top */
  height: 100%;
}